{% extends 'base.html'%}
<html lang="en">
<head>
    <title>Add Contact</title>
</head>
<body>
    {% block 'main'%}
    <h2 class="mt-5">Add Contact</h2>
    <hr style="height: 2px">
    <div class="col-md-8 mt-3 m-auto">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" name="city" value="{{flat.City}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" name="address" value="{{flat.ResidencyName}}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" name="phone" value="{{flat.FlatNomber}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" value="{{flat.Date}}" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        {% endblock %}
    </body>
</html>