{% extends 'base.html'%}
    {% block 'main'%}
    <h2 class="mt-5">Book Flat</h2>
    <hr style="height: 2px">
    <div class="col-md-8 mt-3 m-auto">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" name="city" value="{{flat.City}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                    <label for="residencyname" class="form-label">Residency Name</label>
                    <input type="text" class="form-control" name="residencyname" value="{{flat.ResidencyName}}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="flatno" class="form-label">Flat Nomber</label>
                        <input type="text" class="form-control" name="flatno" value="{{flat.FlatNomber}}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="flowrno" class="form-label">Flowr Nomber</label>
                        <input type="text" class="form-control" name="flowrno" value="{{flat.FlowrNomber}}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" name="date" value="{{flat.Date}}" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <a href="/showbooking/"><button type="submit" class="btn btn-info" style="margin-left: 12%;
            margin-top: -53px;">Booked Flat Details</button></a>
        <strong>{{msg}}</strong>
        {% endblock %}