{% extends 'base.html'%}
{% block 'main'%}
<h2 class="mt-5">Contact</h2>
<hr style="height: 2px">
    <div class="row">
        <div class="col-md-10">
            <table class="table" border="1px">
                <tr>
                    <th>City</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
                {% for i in data %}
                    <tr>
                        <td>{{i.city}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.email}}</td>
                        <!-- <td><a href="/edit/{{flat.id}}"><button class="btn btn-warning">Edit</button></a></td>
                        <td><a href="/delete/{{flat.id}}"><button class="btn btn-danger">Delete</button></a></td> -->
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}